.git
.gitignore

.idea
.vscode

node_modules
vendor

.env
.env.*

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

bootstrap/cache/*.php

docker-compose.override.yml

README.md
storage/*.key
